<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <strong>ML Travel</strong>
        </header>
        {{{body}}}
    </body>
</html>